## Task 2

In [2]:
import pandas_gbq
import os
import pandas as pd
from google.oauth2 import service_account
from google.cloud import bigquery
from google.cloud import storage
import numpy as np
import sqlite3

In [3]:
# Read CSVs in chunks and upload to BigQuery
credentials_path = r"C:\Users\britt\OneDrive - The University of Montana\Applied Data Analytics\Wedge Project\wedge-project-bt-b14310631abc.json"
credentials = service_account.Credentials.from_service_account_file(credentials_path)
gbq_proj_id = "wedge-project-bt"
dataset_id = "wedge_transactions"
client = bigquery.Client(credentials=credentials, project= gbq_proj_id)

In [ ]:

# SQL query
query = """
WITH rand_cte AS(
SELECT DISTINCT card_no
  FROM `wedge-project-bt.transArchive_*` 
  WHERE card_no != 3
  ORDER BY RAND()
  LIMIT 601)

  SELECT *
  FROM `wedge_transactions.transArchive_*` AS trans
  JOIN rand_cte 
  ON rand_cte.card_no = trans.card_no
"""

# Run the query and get the result as a dataframe
df = client.query(query).to_dataframe(create_bqstorage_client=False)

# Save the dataframe to a TXT file
df.to_csv("output_data1.txt", index=False)

In [8]:
df = pd.read_csv(r"C:\Users\britt\OneDrive - The University of Montana\Applied Data Analytics\Wedge Project\wedge-project\output_data.txt")

C:\Users\britt\AppData\Local\Temp\ipykernel_8380\3810652591.py:1: DtypeWarning: Columns (33,34,38,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\britt\OneDrive - The University of Montana\Applied Data Analytics\Wedge Project\wedge-project\output_data.txt")

In [15]:
df.head(30)

,datetime,register_no,emp_no,trans_no,upc,description,trans_type,trans_subtype,trans_status,department,...,local,organic,display,receipt,card_no,store,branch,match_id,trans_id,card_no_1
0,2014-11-14 15:16:31+00:00,4.0,84.0,38.0,0,EBT FS,T,EF,NaN,0.0,...,0.0,NaN,NaN,0.0,48326.0,1.0,0.0,0.0,17.0,48326.0
1,2014-11-13 16:51:59+00:00,4.0,91.0,6.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,12.0,48438.0
2,2014-11-14 15:16:34+00:00,4.0,84.0,38.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48326.0,1.0,0.0,0.0,21.0,48326.0
3,2014-12-01 20:30:19+00:00,2.0,91.0,66.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,20.0,48438.0
4,2014-12-02 18:20:19+00:00,16.0,55.0,49.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,8.0,48438.0
5,2014-12-02 18:31:32+00:00,4.0,34.0,35.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,19.0,48438.0
6,2014-12-03 15:07:13+00:00,6.0,91.0,43.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,20.0,48438.0
7,2014-12-05 18:12:46+00:00,6.0,73.0,3.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,13.0,48438.0
8,2014-12-07 18:12:01+00:00,6.0,68.0,4.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,15.0,48438.0
9,2014-12-10 18:25:36+00:00,16.0,55.0,60.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,8.0,48438.0
10,2014-12-10 18:30:07+00:00,4.0,12.0,58.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,11.0,48438.0
11,2014-12-12 09:26:57+00:00,4.0,17.0,28.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,19.0,48438.0
12,2014-12-13 09:18:49+00:00,4.0,71.0,25.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,20.0,48438.0
13,2014-12-15 11:41:30+00:00,8.0,30.0,67.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,12.0,48438.0
14,2014-12-16 08:11:14+00:00,8.0,13.0,3.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,16.0,48438.0
15,2014-12-17 08:37:31+00:00,16.0,54.0,18.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,8.0,48438.0
16,2014-12-17 08:51:14+00:00,9.0,50.0,33.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,11.0,48438.0
17,2014-12-17 08:59:19+00:00,5.0,29.0,28.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,16.0,48438.0
18,2014-12-18 15:48:44+00:00,16.0,55.0,14.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,8.0,48438.0
19,2014-12-18 15:53:28+00:00,5.0,23.0,75.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,10.0,48438.0
20,2014-12-19 11:21:18+00:00,6.0,4.0,3.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,12.0,48438.0
21,2014-12-21 16:49:05+00:00,7.0,87.0,46.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,9.0,48438.0
22,2014-12-24 14:34:47+00:00,16.0,55.0,56.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,10.0,48438.0
23,2014-12-24 14:53:38+00:00,1.0,68.0,10.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,16.0,48438.0
24,2014-12-26 13:35:10+00:00,16.0,54.0,140.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,8.0,48438.0
25,2014-12-26 13:40:09+00:00,6.0,4.0,49.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,11.0,48438.0
26,2014-12-27 14:24:27+00:00,7.0,68.0,20.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,13.0,48438.0
27,2014-12-29 17:02:04+00:00,2.0,76.0,6.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,10.0,48438.0
28,2014-12-30 11:59:20+00:00,6.0,5.0,34.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,14.0,48438.0
29,2014-12-31 09:17:31+00:00,4.0,71.0,35.0,TAX,Tax,A,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,48438.0,1.0,0.0,0.0,18.0,48438.0